.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas: "weather time" ". ." "thought thought";
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-weight: bold;
}

.weather {
    grid-area: weather;
    color: white;
    /* background-color: red; */
    padding-left: 50px;
    padding-top: 50px;
    font-size: 50px;
}

.time {
    grid-area: time;
    color: white;
    /* background-color: brown; */
    padding-top: 50px;
}

.thought {
    grid-area: thought;
    color: white;
    /* background-color: blueviolet; */
    font-size: 50px;
    padding-bottom: 150px;
    text-align: center;
}

.thought>span {
    white-space: normal;
}

.morning-weather {
    margin: auto;
    position: absolute;
    width: fit-content;
    display: table;
    top: 40%;
    left: 0;
    bottom: 40%;
    right: 0;
    font-size: 250px;
    color: white;
}

.time-subgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "hour-minute second" "hour-minute am-pm" "day day" "date date";
}

.hour-minute {
    font-size: 123px;
    padding-left: 50px;
    grid-area: hour-minute;
}

.second {
    padding-top: 15px;
    font-size: 50px;
    grid-area: second;
    transform: translateX(-40px);
}

.am-pm {
    grid-area: am-pm;
    font-size: 50px;
    transform: translate(-40px, -12px);
}

.day {
    grid-area: day;
    font-size: 50px;
    padding-left: 50px;
}

.date {
    grid-area: date;
    font-size: 50px;
    padding-left: 50px;
}

.camera-view {
    margin: auto;
    position: absolute;
    width: fit-content;
    top: 40%;
    left: 0;
    bottom: 40%;
    right: 0;
    width: 50%;
    height: 50%;
    display: grid;
}

.camera-view>div {
    color: white;
    font-size: 50px;
    margin: auto;
}